# Firebase admin credentials
firebase-historyservice.json
firebase-history-account.json
firebase-historyservice.json
# Environment Variables (if you use them later for other secrets)
.env
.env.local

# =========================
# Python & FastAPI
# =========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Pytest / Coverage (if you do automated testing for CI/CD)
.pytest_cache/
.coverage
htmlcov/

# =========================
# OS & IDE Files
# =========================
# Mac
.DS_Store

# VS Code / PyCharm
.vscode/
.idea/